<main class="main-class">
  <section class="form-section">
    <img src="../../../assets/image/logo.png" alt="logo">
    <h2>Crie sua conta</h2>

    <form [formGroup]="signupForm">
      <input
        formControlName="name"
        type="text"
        placeholder="Digite seu nome"
        class="input-custom"
      />

      <input
        formControlName="email"
        type="email"
        placeholder="seu@email.com"
        class="input-custom"
      />

      <input
        formControlName="password"
        type="password"
        placeholder="senha"
        class="input-custom"
      />

      <input
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirme a senha"
        class="input-custom"
      />

      <div class="buttons-container">
        <button
          class="primary-btn"
          (click)="submit()"
          [disabled]="!signupForm.valid"
        >Criar Conta</button>

        <button
          class="secondary-btn"
          (click)="navigate()"
        >Login</button>
      </div>
    </form>
  </section>
</main>
